.main-nav-div{
  
    position: fixed;
    width: 100%;
    top: 1rem;
    left: 0;
    z-index: 100;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;

    display: flex;

    .nav-logo{
        cursor: pointer;
        padding: 1rem;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
        background-color: rgba(2, 41, 88, 1);
        color: white;
         max-width: 40%;
        /* padding-left: 1rem; */
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(150, 152, 173, 0.3), 0 6px 20px 0 rgba(72, 74, 95, 0.25);
        
    }
 
    .nav-links{
        transition: ease-in-out 0.8s;
        display: flex;
        width: 3rem;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
        height: 5.5rem;
        align-self: center;
        align-items: center;        
        margin-left: -1.8rem;
        background-color: rgb(49, 50, 66);
        .nav-links-ul{
            width: 100%;
            /* border: 2px solid white; */
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            .nav-links-list{
                transition: ease-in-out 0.5s;
                overflow: hidden;
                /* display: none; */
                width: 0%;
                color: white;
                font-weight: bold;
                /* border: 2px solid white; */
            }
        }
    }

@media screen and (max-width:789px) {
    width: 95%;
    .nav-logo{
        width: 50%;
        font-size: 0.8rem;
    }
    .nav-links{
        font-size: 0.8rem;
        height: 5.3rem;
    }
    
}
}