.predictor-container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .logo-img{
        width: 20rem;
    }
    .result-border{
        border-width: 1rem;
        border-style: solid;
        border-radius: 50%;
        width: 15rem;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .team-name{
        text-align: center;
        font-size: 1.5rem;
    }
    .home-away{
        text-align: center;
    }
    .predictor-div{
        display: grid;
        place-items: center;
        gap: 5rem;
        background-color: rgba(135, 141, 182, 0.19);
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 3rem;
        box-shadow: 0 4px 8px 0 rgba(222, 223, 240, 0.3), 0 6px 20px 0 rgba(72, 74, 95, 0.25);
        .round-date-stats{
            padding: 1rem;
            .match-round{
                margin: 0;
                font-size: 2rem;
                color: rgb(135, 141, 146);
            }
            .day-date{
                margin: 0;
                text-align: center;
                font-weight: bold;
                color: rgb(84, 88, 92);;
            }
        }
        .prediction-stats{
            display: flex;
            gap: 10rem;
        }

        .description{
            margin: 0;
            margin-top: -5rem;
            text-align: center;
            font-size: 1.5rem;
            color: rgb(146, 154, 161);
        }
    }
}