.schedule-main{
    width: 100%;
    padding: 0;
    display: grid;
    place-items: center;
}
.schedule-container{

    /* border: 2px solid black; */
    background-color: rgb(11, 11, 20);
    width: 65%;
    padding: 2rem;
    display: grid;
    place-items:center;
    gap: 2rem;
    margin-top: 6rem;

   

    .search-div{
        width: 100%;
        display: grid;
        place-items: center;
        gap: 2rem;
        .schedule-heading{
            font-size: 4rem;
            padding: 0;
            margin: 0;
            color: #5f2775;
        }
        .input-div{
            width: 100%;
            display: flex;
            gap: 2rem;
            align-items: center;

            .toggle-month{
                background: linear-gradient(#5f2775,#371146);
                color: aliceblue;
                padding: 0.3rem;
                min-height: 2rem;
                width: 26%;
                font-size: 75%;
                font-weight: bold;
            }
            .toggle-month:disabled{
                background: linear-gradient(#cd8ee6,#9d43c0);
                opacity: 0.4;
                cursor: not-allowed;
                
            }

            .search-bar{
                width: 80%;
                padding: 0.8rem;
                padding-left: 2rem;
                padding-right: 2rem;
                font-size: 1.5rem;
    
                border: none;
                border-radius: 5rem;
                background-color: rgb(198, 198, 216);
            }
            .search-bar::placeholder{
                font-size: 1.1rem;
            }
        }

        .total-results{
            font-weight: bold;
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }
    }

    .match-card{
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(150, 152, 173, 0.3), 0 6px 20px 0 rgba(72, 74, 95, 0.25);
        /* border: 2px solid rgb(48, 49, 63); */
        color:rgb(112, 114, 138);
        background-color: rgb(22, 23, 36);
        min-height: 8rem;
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        border-radius: 5rem;

        .match-info{
            display: grid;
            font-size: 1.2rem;
            .team-names-div{
                display: flex;
                gap: 20%;
                align-items: center;

            }
        }

        .predict-div{
            display: grid;
            place-items: center;
            .predict-btn{
                color: rgb(189, 212, 233);
                background: linear-gradient(rgb(3, 3, 94),rgb(4, 42, 100));
            }
        }
        .logo-round-div{
            text-align: center;
            display: grid;
            gap: 2rem;
            font-size: 1.5rem;
            padding: 1.5rem;
            /* border: 2px solid white; */
            .logo-div{
                display: flex;
                justify-content: center;
                
                .versus{
                    margin: auto;
                }
                .logo{
                    width: 6.5rem;
                    aspect-ratio: 8/5;
                }
            }
        }
    }

    .no-results{
        width: 100%;
        text-align: center;
    }

@media screen and (max-width:789px) {
    width: 100%;
    place-content:center;
    padding: 0;
    /* background-color: wheat; */
 
    .search-div{
        margin: 0;
       
        
        .schedule-heading{
            padding: 0;
            font-size: 2rem;
        }
        .input-div{
            width: 95%;
            gap: 1rem;;
            
           
        }
    }

    .match-card{
        width: 95%;
        padding: 0;
        height: 20rem;
        border-radius: 3rem;
        

        .match-info{
            display: grid;
            padding: 0.4rem;
            place-items: center;
            font-size: 1rem;
            .team-names-div{

                display: grid;
                text-align: center;
                h3{
                    padding: 0;
                    margin: 0;
                }
                
            }
        }

        .logo-round-div{
            text-align: center;
            display: grid;
            place-items:  center;
            gap: 0rem;
            font-size: 1rem;
            padding: 0;
            /* border: 2px solid white; */
            .logo-div{
              display: grid;
                .versus{
                    font-size: 1rem;
                    margin: auto;
                }
                .logo{
                    padding: 0;
                    width: 6rem;
                }
            }
        }

        .predict-div{
            padding: 0.6rem;
            .predict-btn{
                width: 4rem;
                height: 6rem;
                text-align: center;
                font-size: 0.6rem;
            }
        }
    }
}
    
}